<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1 class="name">Ramon Amorim da Silva</h1>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/projetos">PROJETOS</a></li>
                    <li><a href="/publicacoes">PUBLICAÇÔES</a></li>
                    <li><a href="/habilidades">HABILIDADES</a></li>
                    <li><a href="/contato">CONTATO</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="page-header">
        <div class="header-content">
            <h2><%= titulo %></h2>
        </div>
    </section>
    <main class="container skills-page">
        <section class="skills-section">

            <section class="skills-info">
                <div class="info-card">
                    <h3>Projeto Integrador(API) 1º Semestre de Logística</h3>
    <p>
        O projeto integrador (API) é um projeto pedagógico, onde o ensino é focado no desenvolvimento de um produto que auxilia visualizar e mapear potenciais cargas para movimentação no aeroporto SJK com base em dados de importações de municípios da região do Vale do Paraíba e Litoral Norte no ano de 2024.

    </p>

    <ul>
        <li><strong>Ferramentas Utilizadas:</strong>         <ul class="skills-list">
            <li><img src="/img/git.png" alt="GITHUB logo" width="20"> GitHub</li>
            <li><img src="/img/jira.png" alt="Jira Software logo" width="20"> Jira Software</li>
            <li><img src="/img/power.png" alt="Power BI logo" width="20"> Power BI</li>
            <li><img src="/img/Slack.png" alt="Slack logo" width="20"> Slack</li>
        </ul></li>
        <a href="/projetos/api" class="btn">Ver Detalhes</a>        
        
    </main>

    <footer>
        <p>&copy; 2025 - Ramon Amorim da Silva | Portfólio Acadêmico</p>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>
